body{
    background-image: url(train.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 100px 0;
    font-size: 1%;
}

h1{
    font-size: 50px;
}
#counter{
    font-size: 70px;
}
button{
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}
#increment-btn{
    background-color: brown;
}
#save-btn{
    background-color: green;
}